@import "src/assets/colors";
@import "src/assets/spaces";

.container{
  padding-top: 30px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 20px;
}
.CUcard{
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid $third-color;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 0px;
}
.title{
  color: $third-color;
  font-weight: bold;
}
.titleCarousel{
  color: black;
  font-weight: bold;
}
.banner{
  background-color: $secondary-color;
  padding-top: 25px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 25px;
}
.header{
  background-color: $secondary-color;
  padding-top: 25px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 25px;
  text-align: center;
}
.banner h2 {
  color: white;
  font-weight: bold;
}
.banner h3 {
  color: white;
}
.header h2 {
  color: white;
  font-weight: bold;
}
.header h3 {
  color: white;
}
.accent{
  color: $primary-color;
}
.secondary{
  color: white;
}
.paddingT{
  padding-top: 25px;
}
.paddingB{
  padding-bottom: 50px;
}
.homeText h1{
  font-weight: bold;
}
.homeText h2{
  font-weight: bold;
}
.termsHeader{
  text-align: center;
}