@import "src/assets/colors";
@import "src/assets/spaces";
.hello-word {
  &_container {
    background-color: $background-secondary-color;
    align-items: initial;
    padding: $container-padding;
  }
  &_banner {
    height: auto;
    width: 90%;
  }
}