@import "src/assets/colors";
@import "src/assets/spaces";

.card {
  position: relative;
  max-height: 300px;
  min-height: 250px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
  }
}

.text {
  color: black;
}

.homeImg {
  height: auto;
  width: 75%;
}

.logoImg {
  padding: 20px 0;
  max-height: 120px;
  max-width: 100%;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoContainer {
  text-align: left;
  // height: 120px;
  // img {
  //   flex-shrink: 0;
  //   width: auto;
  //   max-height: 120px;
  //   object-fit: cover;
  //   position: absolute;
  // }
}

.nav {
  padding-top: 0px;
  width: 100%;
  position: fixed;
  background-color: $background-primary-color;
  z-index: 15;
}

.carouselImg {
  opacity: 0.4;
}

.carouselText {
  position: absolute;
  text-align: center;
  top: 50%;
}
