@import "src/assets/colors";

#root {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $third-color;
}
body {
  background-color: $background-primary-color !important;
}
#nav {
  padding: 30px;
  text-align: center;

  a {
    font-weight: bold;
    color: $secondary-color;

    &.active {
      color: $primary-color;
    }
  }
}
