@import "src/assets/colors";

#root {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $third-color;
}
body {
  background-color: $background-primary-color !important;
}
.ant-btn.ant-btn-primary{
  background: $primary-color !important;
  border-color: $primary-color !important;
    &:hover{
      background-color: $third-color !important;
      border-color: $third-color !important;
    }
  }
#nav {
  padding-right: 35px;
  padding-left: 35px;
  text-align: right;
  padding-bottom: 0px;

  a {
    font-weight: bold;
    color: $secondary-color;

    &.active {
      color: $primary-color;
    }
  }
}
